body {
  colour:
  font-family: Marlett;
}

h1 {
  color: rgb(175, 220, 230);
  font-family: Marlett;
  text-align: centre;
  font-size:
}

h2 {
  color: rgb(148, 148, 148);
  font-family: Marlett;
  text-align: centre;
  font-size:
}

h3 {
  color: rgb(15, 222, 240)
  font-family: Marlett;
  text-align: centre;
  font-size:
}

img{
  display: flex;
  padding: 20px;
  margin: 0 auto;
  border-radius: 130px;
}

img: hover{
  transition: 0.6s ease;
}
