body {
  colour: green;
  font-family:
}

title {
  color: rgb(175, 220, 230);
  font-family:
}

h1 {
  color: rgb(148, 148, 148);
  font-family: serif;
  margin: auto;
  text-align: centre;
}

ul {
     padding: 10px;
     background: rgb(175, 220, 230);
   }

li {
  display: inline;
   padding: 0px 20px 0px 20px;
   background-color: rgb(175, 220, 230);
}


img {
  border: black;

}
